.home-page-container {
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;

}

.container-left {
    background: #2CD3C8;
}

.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container-right {
    background: #ccc;
    padding: 20px;
    text-align: center;

}

.container-right h1 {
    font-size: 60px;
    text-transform: uppercase;
    width: 50%;
    border-bottom: 5px solid #2CD3C8;
    margin: 0 auto 100px;

}

.right-footer {
    width: 45%;
    height: 50px;
    position: fixed;
    text-align: center;
    padding-top: 20px;
}

.right-footer button {
    background: #2CD3C8;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 16px;

}


.images-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70vh;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.image {
    width: 45%;

}

.image img {
    width: 100%;
}














































.main-header {
    width: 80%;
    height: 10vh;
    position: relative;
    margin: 40px auto;
    padding: 30px;
    background: #ccc;
}

.main-header:hover {
    background: #000;
}

.main-header:focus {
   outline: none;
    border: none;
}

.main-header  h1 {
    float: left;
    font-size: 28px;
}

.main-header nav {
    width: 30%;
    float: right;
    text-align: right;
}

.main-header ul li {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.wide-box {
    position: relative;
    background: #1CEAF4;
    width: 80%;
    margin: 40px auto;
    height: 25vh;
}

.round {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: #fff;
}

.top {
    top: 10px;
    left: 10px;
}

.bottom {
    bottom: 10px;
    right: 10px;
}



.double-box-container {
    width: 80%;
    margin: 40px auto 0;
}

.half-box {
    width: 49%;
    height: 25vh;
    position: relative;
    display: inline-block;
    background: #1CEAF4;
}

.box-left {
    float: left;
}

.box-right {
    float: right;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}

.box {
    width: 100%;
    height: 100vh;
    border-radius: .5em;
    position: absolute;  /* remove from flow so sunset is placed on top */
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.box2 {
    display: inline-block;
    position: absolute;
    width: 520px;
    height: 100vh;
    transform: skewX(-16deg);
    left: -146px;
    background: gray;
    pointer-events: auto;
}
